{% extends "layout.html" %}
{% set active_page = "astronomers" %}
{% block content %}
<div class="title">
	  <h2>For astronomers</h2>
		</div>
</div>
<div id="page" class="container">
  <div class="content">
    <p>The Surveys KSP is conducting surveys which aim eventually to cover the whole northern sky
    with the LOFAR HBA at 144 MHz (LoTSS 'Tier 1') and the LOFAR LBA at 60 MHz
    (LoLSS) as well as targeted deep observations of some smaller
    fields. In addition, the WEAVE-LOFAR spectroscopic survey on the
    WHT will provide optical spectroscopy for many of the
    LOFAR-detected sources. This page gives access to some information on the current
      status of the surveys.</p>
    <h2>LoTSS Tier 1</h2>
    <ul>
        <li><a href="http://lofar.strw.leidenuniv.nl/doku.php?id=tier1_hba_progress">Tier
        1 observational progress</a>
	<li><a href="status.html">Current (pipeline v2) processing status</a></li>
	<li><a href="fields.html">View the table of fields</a></li>
	<li><a href="observations.html">View the table of
	    observations</a></li>
	<li><a href="co-observing.html">Co-observing with LoTSS</a></li>
    </ul>
    <h2>LoTSS deep fields</h2>
    Coming soon.
    <h2>LoLSS</h2>
    Coming soon.
    <h2>WEAVE-LOFAR</h2>
    See
    the <a href="http://star.herts.ac.uk/~dsmith/Dan_Smiths_Website/WEAVE-LOFAR.html">WEAVE-LOFAR pages</a>.
  </div>
</div>
{% endblock %}
