{% extends "layout.html" %}
{% set active_page = "collaborators" %}
{% block content %}
<div class="title">
	  <h2>For collaborators</h2>
</div>
</div>
<div id="page" class="container">
<div class="content">
<p>This site gives internal access to data products from the
LOFAR surveys KSP.</p>

<p>You <b>must not</b> use the catalogues or images provided here in
publications without first discussing your proposed project with the
relevant working groups and getting it approved through the
KSP. You <b>must not</b> share the images, catalogues or preview links
outside the collaboration without discussion with surveys project
management.</p>

<p>The latest KSP publication policy is <a href="public/lskppoliciesv5.0.pdf">here</a>.

<p>For further information on the data releases please see the <a href="http://lofar.strw.leidenuniv.nl/wiki/">LOFAR Surveys KSP wiki</a>.

<h2>Data products available</h2>
<ul><li><a href="hetdex.html">DR1 HETDEX</a></li>
  <li><a href="dr2.html">DR2 internal release</a></li>
  <li><a href="widefields.html">LoTSS-wide raw fields</a></li>
  <li><a href="dynspecs.html">Dynamical spectra from wide fields</a></li>
  <li><a href="deepfields.html">LoTSS deep fields internal release</a></li>
  <li><a href="EDFN.html">Euclid Deep Field North internal release</a></li>
  <li><a href="gama.html">GAMA fields internal release</a></li>
  <li><a href="hatlas.html">H-ATLAS NGP internal release</a></li>
  <li><a href="lba.html">LBA HETDEX survey preliminary</a></li>
  <li><a href="legacy.html">Legacy datasets</a></li>
</ul>
</div>
</div>
{% endblock %}
