{% extends "layout.html" %}
{% set active_page = "collaborators" %}
{% block content %}
<div class="title">
	  <h2>For collaborators</h2>
</div>
</div>
<div id="page" class="container">
<div class="content">
<p>This site gives preliminary internal access to data products from the
LOFAR surveys KSP.</p>

<p>You <b>must not</b> use the catalogues or images provided here in
publications without first discussing your proposed project with the
relevant working groups and getting it approved through the
KSP. You <b>must not</b> share the images, catalogues or preview links
outside the collaboration without discussion with surveys project
management.</p>

<p>For further information on the data releases please see the <a href="http://lofar.strw.leidenuniv.nl/wiki/">LOFAR Surveys KSP wiki</a>, in particular:

<ul>
<li><a href="http://lofar.strw.leidenuniv.nl/wiki/doku.php?id=lotss_dr1">DR1 data release description</a>
<li><a href="http://lofar.strw.leidenuniv.nl/wiki/doku.php?id=hetdex_catalog_description">DR1 optical ID catalogue description</a>
<li><a href="http://lofar.strw.leidenuniv.nl/wiki/lib/exe/fetch.php?media=lskppoliciesv4.0.pdf">Publication policies</a>
<li><a href="http://lofar.strw.leidenuniv.nl/wiki/doku.php?id=proposed_projects">List of approved science projects.</a>
</ul>
<h2>Data products available</h2>
<ul><li><a href="hetdex.html">DR1 HETDEX</a></li>
  <li><a href="dr2.html">DR2 preliminary</a></li>
  <li><a href="dynspecs.html">Dynamical spectra from DR2</a></li>
  <li><a href="deepfields.html">Deep fields</a></li>
  <li><a href="legacy.html">Legacy datasets</a></li>
</ul>
</div>
</div>
{% endblock %}
