{% extends "layout.html" %}
{% set active_page = "surveys" %}
{% block content %}
<div class="title">
	  <h2>LoTSS Deep fields DR1 press material</h2>
</div>
</div>
<div id="page" class="container">
<div class="content">
<h3>Ultra-sensitive radio images reveal thousands of star-forming galaxies
in early Universe</h3>
	
<p><b>An international team of astronomers has published the most sensitive
images of the Universe ever taken at low radio frequencies, using the
International Low Frequency Array (LOFAR). By observing the same
regions of sky over and over again and combining the data to make a
single very-long-exposure image, the team has detected the faint radio
glow of stars exploding as supernovae, in tens of thousands of
galaxies out to the most distant parts of the Universe. A special
issue of the scientific journal Astronomy &amp; Astrophysics is dedicated
to fourteen research papers describing these images and the first
scientific results.</b></p>
	
<h3>Cosmic star formation</h3>

<p>Philip Best, Professor of Extragalactic Astrophysics at the University
of Edinburgh, UK, who led the deep survey, explained: &ldquo;When we look at
the sky with a radio telescope, the brightest objects we see are
produced by massive black holes at the centre of galaxies. However,
our images are so deep that most of the objects in it are galaxies
like our own Milky Way, which emit faint radio waves that trace their
on-going star-formation.&rdquo;</p>
	
<p>&ldquo;The combination of the high sensitivity of LOFAR and the wide area of
sky covered by our survey – about 300 times the size of the full moon
– has enabled us to detect tens of thousands of galaxies like the
Milky Way, far out into the distant Universe. The light from these
galaxies has been travelling for billions of years to reach the Earth;
this means that we see the galaxies as they were billions of years
ago, back when they were forming most of their stars.&rdquo;</p>

<p>Isabella Prandoni from INAF Bologna, Italy, added: &ldquo;Star formation is
usually enshrouded in dust, which obscures our view when we look with
optical telescopes. But radio waves penetrate the dust, so with LOFAR
we obtain a complete picture of their star-formation.&rdquo; The deep LOFAR
images have led to a new relation between a galaxy's radio emission
and the rate at which it is forming stars, and a more accurate
measurement of the number of new stars being formed in the young
Universe.</p>
	
<h3>Exotic objects</h3>

<p>The remarkable dataset has enabled a wide range of
additional scientific studies, ranging from the nature of the
spectacular jets of radio emission produced by massive black holes, to
that arising from collisions of huge clusters of galaxies. It has also
thrown up unexpected results.  For example, by comparing the repeated
observations, the researchers searched for objects that change in
radio brightness. This resulted in the detection of the red dwarf star
CR Draconis. Joe Callingham of Leiden University and ASTRON, the
Netherlands, noted that &ldquo;CR Draconis shows bursts of radio emission
that strongly resemble those from Jupiter, and may be driven by the
interaction of the star with a previously unknown planet, or because
the star is rotating extremely quickly.&rdquo;</p>
	
<h3>Huge computational challenge</h3>

<p>LOFAR does not directly produce maps of
the sky; instead the signals from more than 70,000 antennas must be
combined. To produce these deep pictures, more than 4 petabytes of raw
data - equivalent to about a million DVDs – were taken and
processed. &ldquo;The deep radio images of our Universe are diffusely
hidden, deep inside the vast amount of data that LOFAR has observed.&rdquo;
said Cyril Tasse from Paris Observatory, University PSL,
France. &ldquo;Recent mathematical advances made it possible to extract
these, using large clusters of computers.&rdquo;</p>
	
<h3>Multi-wavelength data</h3>

<p>Just as important in extracting the science has been a comparison of
these radio images with data obtained at other wavelengths. &ldquo;The parts
of the sky we chose are the best-studied in the Northern sky&rdquo;
explained Best. This has allowed the team to assemble optical,
near-infrared, far-infrared and sub-millimetre data for the
LOFAR-detected galaxies, which has been crucial in interpreting the
LOFAR results.</p>
	
<h3>LOFAR</h3>

<p>LOFAR is the world's leading telescope of its type. It is operated by
ASTRON, the Netherlands Institute for Radio Astronomy, and coordinated
by a partnership of 9 European countries: France, Germany, Ireland,
Italy, Latvia, the Netherlands, Poland, Sweden and the UK. In its
&lsquo;high-band&rsquo; configuration, LOFAR observes at frequencies of around 150
MHz &mdash; between the FM and DAB radio bands. &ldquo;LOFAR is unique in its
ability to make high-quality images of the sky at metre wavelengths&rdquo;,
said Huub Röttgering of Leiden University, who is leading the overall
suite of LOFAR surveys. &ldquo;These deep field images are a testament to
its capabilities and a treasure trove for future discoveries&rdquo;.</p>
	
<p><b>END OF PRESS RELEASE</b></p>

<h3>LOFAR</h3>

<p>The International LOFAR Telescope is a trans-European network of radio
antennas, with a core located in Exloo in the Netherlands. LOFAR works
by combining the signals from more than 70,000 individual antenna
dipoles, located in &lsquo;antenna stations&rsquo; across the Netherlands and in
partner European countries. The stations are connected by a high-speed
fibre optic network, with powerful computers used to process the radio
signals in order to simulate a trans-European radio antenna that
stretches over 1300 kilometres. The International LOFAR Telescope is
unique, given its sensitivity, wide field-of-view, and image
resolution or clarity.  The LOFAR data archive is the largest
astronomical data collection in the world.</p>
	
<p>LOFAR was designed, built and is presently operated by ASTRON, the
Netherlands Institute for Radio Astronomy. France, Germany, Ireland,
Italy, Latvia, the Netherlands, Poland, Sweden and the UK are all
partner countries in the International LOFAR Telescope.</p>

<p>A video introduction to LOFAR is available <a href="static/lofar_overview.mp4">here</a>.</p>

<h3>Media</h3>

<img class="image-full" src="static/gallery/LoTSS_Deep_PRimage.png">

<p>The image above shows the deepest LOFAR image ever made, in the
region of sky known as &lsquo;Elais-N1&rsquo;, which is one of the three fields
studied as part of this deep radio survey. The image arises from a
single LOFAR pointing observed repeatedly for a total of 164
hours. Over 80,000 radio sources are detected; this includes some
spectacular large-scale emission arising from massive black holes, but
most sources are distant galaxies like the Milky Way, forming their
  stars. Credit: Philip Best &amp; Jose Sabater, University of Edinburgh</p>

<p> A range of additional LOFAR images are available <a href="gallery_preview.html">here</a>.</p>

<p>A video fly-through of part of the sky that was studied (Credit:
Jurgen de Jong, Leiden University) <a href="https://www.youtube.com/watch?v=nGKEGVBXMxk">is available</a>.</p>

<p>More information about the LOFAR Surveys can be found
  <a href="surveys.html">on this site</a>.</p>

<p>The released data, images and catalogues can be found <a href="deepfields.html">here</a></p>

<p>The released papers can be found on the <a href="https://www.aanda.org/component/toc/?task=topic&id=1285">Astronomy &amp; Astrophysics</a> web site</p>

</div>
</div>
{% endblock %}
