{% extends "layout.html" %}
{% set active_page = "collaborators" %}
{% block content %}
<div class="title">
          <h2>DR2: internal data release</h2>
                </div>
</div>
<div id="page" class="container">
<div class="content">
<p>This page gives preliminary internal access to the data for the second LoTSS
  data release (DR2). You can preview the images through a HIPS viewer, search all available fields for an object or a position, or download full-quality DR2 mosaics and catalogues.</p>
<p>DR2 consists of two discrete fields, denoted the 0h and 13h fields, covering 5720 square degrees in total (4240 sq. deg in the 13h field and 1480 sq. deg in the 0h field).</p>
<h3>HIPS previewer</h3>
<ul>
<li><a href="http://lofar-surveys.org/hips/LoTSS_DR2_high_hips/">High-resolution preview</a> (view in the Aladin app or in a web browser)</li>
<li><a href="http://lofar-surveys.org/hips/LoTSS_DR2_low_hips/">Low-resolution preview (20 arcsec)</a></li>
<li><a href="http://lofar-surveys.org/hips/LoTSS_DR2_vlow/">Very low-resolution preview (60 arcsec)</a></li>
<li><a href="http://lofar-surveys.org/hips/LoTSS_DR2_vlow_sub/">Very low-resolution preview with source subtraction (60 arcsec)</a></li>
</ul>
<h3>Catalogues</h3>
<p>Currently available for download are:</p>
<ul><li><a href="downloads/DR2/catalogues/LoTSS_DR2_v100.srl.fits">Non-redundant source catalogue v1.0</a></li>
  <li><a href="downloads/DR2/catalogues/LoTSS_DR2_v100.gaus.fits">Non-redundant Gaussian catalogue v1.0</a></li>
</ul>
<h3>MOC</h3>
<p>A MOC (multi-order coverage) map for DR2 is available. Note that this does not represent small blanked regions due to bad facets in the mosaics.</p>
<ul><li><a href="downloads/DR2/catalogues/dr2-moc.moc">DR2 MOC</a></li>
</ul>
<h3>Position search</h3>
<form action="dr2-search.html" method="post">
  Enter object name or position to search mosaics: <input type="text" name="pos">
  <input type="submit" value="Submit">
</form>
<h3>Mosaics</h3>
<p>These mosaics are full-quality DR2 mosaics with flux scales aligned with reference to NVSS.</p>
<table id="table_id" class="display">
<thead>
<tr><th>Field name</th><th>RA</th><th>Dec</th><th>Full-res mosaic</th><th>Full-res rms map</th><th>Full-res residual</th><th>Low-res mosaic</th><th>Catalogue</th></tr>
</thead>
<tbody>
{% include "dr2-mosaics.html" %}
</tbody></table>
<script>
$(document).ready( function () { 
$('#field_id').DataTable();                                                 
} );                                                                            
</script>
</div>
</div>
{% endblock %}

