{% extends "layout.html" %}
{% set active_page = "index" %}
{% block content %}
<div class="title">
          <h2>Image gallery</h2>
                </div>
</div>
<div id="page" class="container">
  <div class="gallery">
  <a href="gallery.html?image={{last}}"><img src="static/left.png" align="left"></a>
  <a href="gallery.html?image={{next}}"><img src="static/right.png" align="right"></a>
  <p align="center">{{desc}}
    <br>
    <img src="{{image}}" id="gallery-image">
    </p>
</div>
</div>

{% endblock %}
