{% extends "layout.html" %}
{% set active_page = "index" %}
{% block content %}
<div class="title">
	  <h2>LOFAR Surveys</h2>
		</div>
</div>
<div id="page" class="container">
  <div class="content">
    <p>Performing increasingly sensitive surveys is a fundamental
    endeavour of astronomy. Over the past 60 years, the depth,
    fidelity, and resolution of radio surveys has continuously
    improved. However, new, upgraded and planned instruments are
    capable of revolutionising this area of research. The <a href="https://www.lofar.org/">International Low-Frequency Array (LOFAR)</a> is one such instrument. LOFAR offers a transformational increase in radio survey speed compared to existing radio telescopes. It also opens up a poorly explored low-frequency region of the electromagnetic spectrum. An important goal that has driven the development of LOFAR since its inception is to conduct wide and deep surveys in order to advance our understanding of the formation and evolution of galaxies, clusters, and active galactic nuclei (AGN). The LOFAR Surveys Key Science Project is conducting a survey with three tiers of observations: Tier-1 is the widest tier and includes low-band antenna (LBA) and high-band antenna (HBA) observations across the whole Northern sky; deeper Tier-2 and Tier-3 observations are focussing on smaller areas with high quality multi-wavelength datasets.</p>
<p>
The ongoing LOFAR HBA 120-168MHz Tier-1 survey is referred to as the
    LOFAR Two-metre Sky Survey (LoTSS) and is described by <a href="http://adsabs.harvard.edu/abs/2017A%26A...598A.104S">Shimwell et
    al. (2017)</a>. This is the second northern-hemisphere survey to
    be conducted with the LOFAR HBA and is significantly deeper and
    higher-resolution than the first, the Multifrequency Snapshot Sky
    Survey (MSSS; <a href="http://adsabs.harvard.edu/abs/2015A%26A...582A.123H">Heald et al. 2015</a>).</p>
<p>These pages give access for astronomers to some of the papers and
  data releases relating to the survey. A full public website is
  coming soon.</p>
<p id="news">NEWS: LoTSS DR1 catalogue description and science papers are now
  available (see '<a href="publications.html">Publications</a>' tab).
  Images and catalogues will be released in early 2019.</p>

  </div>
</div>
{% endblock %}
