{% extends "layout.html" %}
{% set active_page = "welcome" %}
{% block content %}
<a href="gallery.html?file=static/gallery/B3_0157%2b406.png"><img class="image-right" src="static/gallery/B3_0157+406.png" align="right"></a>
<div class="title">
	  <h2>Welcome to the LOFAR Surveys website</h2>
		</div>
</div>
<div id="page" class="container">
  <div class="content">
    <p>Performing increasingly sensitive surveys is a fundamental
    endeavour of astronomy. Over the past 60 years, the depth,
    fidelity, and resolution of radio surveys has continuously
    improved. However, new, upgraded and planned instruments are
    capable of revolutionising this area of research.
    The <a href="https://www.lofar.org/">International Low-Frequency
    Array (LOFAR)</a> is one such instrument. LOFAR offers a
    transformational increase in radio survey speed compared to
    existing radio telescopes. It also opens up a poorly explored
    low-frequency region of the electromagnetic spectrum. An important
    goal that has driven the development of LOFAR since its inception
    is to conduct wide and deep surveys in order to advance our
    understanding of the formation and evolution of galaxies,
      clusters, and active galactic nuclei (AGN).</p>

  <p>Explore this website to learn more about the LOFAR surveys and
  their scientific results.</p>
      
<p id="news">NEWS: LoTSS DR1 catalogues and images are now available
  (see <a href="releases.html">releases page</a>).</p>

  </div>
</div>
{% endblock %}
