<!DOCTYPE html>
<html>
<head>

	<!-- metadata, charset, viewport and seo -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- title & active page -->
	<title>LOFAR surveys &mdash; {{ active_page }}</title>
	
    <!-- stylesheets & fonts -->
	<link rel="stylesheet" type="text/css" href="/static/default.css" media="all">

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">

	<link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />

	<!-- related JS / JQuery & site scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
     crossorigin="anonymous"></script> 
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <!-- custom scripts & site-specific functionality -->
    <script type="text/javascript">     /* topnav responsiveness */
	function getNavbar() {
  		var x = document.getElementById("siteTopnav");
  		if (x.className === "navbar") {
  			x.className += " responsive";
  		} else {
  			x.className = "navbar";
  		}
	}
	</script>

	<script type="text/javascript">         /* close topnav */
	function closeNav() {
  		document.getElementById("siteTopnav").style.width = "0";
	}
	</script>
</head>

<body>

	<!-- header section & background image -->
	<div class="header">
		<!--h1> LOFAR Surveys </h1-->
	</div>



	<!-- navbar links and dropdowns  -->
	<div class="navbar" id="siteTopnav">
        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
          	
        <!-- {% for caption,href,id in nav %} -->
        <!-- <a href="{{ href|e }}">{{ caption|e }}</a> -->
        <!-- {% endfor %} -->
	    		
	    <div class="dropdown">
	      	<button class="dropbtn">For astronomers</a>
				<i class="fa fa-caret-down"></i> 
	      	</button>
	      <div class="dropdown-content">
			<a href="publications.html">Publications</a>
			<a href="releases.html">Data releases</a>
			<a href="lotss-tier1.html">LoTSS Tier 1</a>
	      </div>
	    </div> 
	    
	    <div class="dropdown">
	      	<button class="dropbtn">News and media
				<i class="fa fa-caret-down"></i>
	      	</button>
	      <div class="dropdown-content">
			<a href="news.html">News</a>
			<a href="gallery_preview.html">Image gallery</a>
	      </div>
	    </div> 
	    
	    <a href="collaborators.html">For collaborators</a>
	    <a href="surveys.html">The surveys</a>
	    <a href="index.html">Welcome</a>
	    <a href="javascript:void(0);" class="icon" onclick="getNavbar()">
    		<i class="fa fa-bars"></i></a>
    </div>


	<!-- main section and content -->
	{% block content %}{% endblock %}



	<!-- footer, contact & copyright -->
	<div class="footer">
		<p>Site written in Python using <a href="http://flask.pocoo.org/">Flask</a>. Design by <a href="https://mayahortonarts.com" rel="nofollow">Maya Horton</a> under a <a href="https://creativecommons.org/licenses/by/2.0/uk/"
       rel="nofollow">CC.BY 2.0</a> licence.</p>

		<p>For website issues please contact <a href="mailto:m.j.hardcastle@herts.ac.uk">Martin Hardcastle</a></p>
	</div>

</body>

</html>