{% extends "layout.html" %}
{% set active_page = "collaborators" %}
{% block content %}
<div class="title">
	  <h2>LBA survey of HETDEX: Referees page</h2>
</div>
</div>
<div id="page" class="container">
<div class="content">
  <p>This page provides referee access to the LBA survey of HETDEX, as a single mosaic over the HETDEX field and associated catalogue. 25,247 sources are detected and the rms noise level is around 5 mJy/beam at a resolution of 45 arcsec and an effective frequency of 55 MHz.</p>
  
<h3>Images and catalogues available</h3>

<ul>
  <li><a href="/lba_downloads/mosaic-v1p0.pybdsm.srl.fits">PYBDSF source list v1.0</a> and <a href="/lba_downloads/README.txt">README file</a></li>
  <li><a href="/lba_downloads/mosaic-v0p3.fits">FITS Mosaic v1.0</a></li>
</ul>
</div>
</div>
{% endblock %}
