{% extends "layout.html" %}
{% set active_page = "surveys" %}
{% block content %}
<img class="image-right" src="static/LOFAR_Superterp.jpg"
     align="right">
<div class="title">
	  <h2>LOFAR Long-baseline Surveys</h2>
		</div>
</div>
<div id="page" class="container">
  <div class="content">
<p>LOFAR's international baselines give the potential to survey the sky at a resolution of up to 0.3 arcsec (HBA) or around 1 arcsec (LBA). The combination of this resolution with the wide area, low frequency and high sensitivity of LOFAR observations is one of the most exciting capabilities of the array and will be unsurpassed well into the SKA era.</p>
  </div>
</div>
{% endblock %}
