{% extends "layout.html" %}
{% set active_page = "astronomers" %}
{% block content %}
<div class="title">
	  <h2>Tier 1 (wide area) status</h2>
		</div>
</div>
<div id="page" class="container">
  <div class="content">
    <p>This page gives access to some information on the current
      status of the Tier 1 survey. The interactive Aladin window below shows which fields have been imaged and observed; you may turn off the overlays to view the DR1 sky at low or high resolution. Other links allow you to view the table of fields or observations directly.</p>
	<div id="aladin-lite-div" style="margin:auto;width:80vw;height:80vh;"></div>
	<link rel="stylesheet" href="https://lofar-surveys.org/static/lotss_aladin/aladin-2018-10-30.min.css" />
	<link rel="stylesheet" href="https://lofar-surveys.org/static/lotss_aladin/lotss-aladin.css" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://lofar-surveys.org/static/lotss_aladin/aladin-2018-10-30.min.js"></script>
    <script type="text/javascript" src="https://lofar-surveys.org/static/lotss_aladin/lotss-aladin.js"></script>
    <script>
      var lotss_options = {
              survey: "LoTSSDR1",
              lotss_pointings_url: "https://lofar-surveys.org/static/lotss_aladin/pointings_db.json"
      };
      var aladin = lotss_aladin('#aladin-lite-div', lotss_options);
    </script>
    <h3>Other information</h3>
    <ul>
	<li><a href="fields.html">View the table of fields</a></li>
	<li><a href="observations.html">View the table of
	    observations</a></li>
	<li><a href="co-observing.html">Co-observing with LoTSS</a></li>
	<li><a href="status.html">Old pipeline v2 processing status static image</a></li>
    </ul>
  </div>
</div>
{% endblock %}
