{% extends "layout.html" %}
{% set active_page = "news" %}
{% block content %}
<div class="title">
	  <h2>News</h2>
		</div>
</div>
<div id="page" class="container">
  <div class="content">
    <h3>LOTSS DR1 press release</h3>
    <ul>
      <li><a href="static/LOFARsurvey_pressrelease_final.pdf">Text of the ASTRON (Dutch) media release (in English)</a></li>
      <li><a href="static/LOFARsurvey_UKpressrelease_final.pdf">Text of the STFC (UK) media release</a></li>
    </ul>
    <h3>Video material</h3>
    <ul>
      <li>LOFAR surveys full video (5 minutes)<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EBA8GYzr3Gc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
      <li>LOFAR surveys short video (5 minutes)<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RuZYNILHWVE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
      <li>LOFAR fly through<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/vzq931ZukYI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>

      </ul>
  </div>
</div>
{% endblock %}
