{% extends "layout.html" %}
{% set active_page = "releases" %}
{% block content %}
<div class="title">
	  <h2>Status of observations</h2>
		</div></div>
<div id="page" class="container">
  <div class="content">
      <table id="table_id" class="display" style="font-size:75%">
	<thead>
	  <tr>
	    <th>ID</th><th>Field</th><th>Status</th><th>Location</th>
	    <th>Integration</th><th>dt</th><th>nchan</th><th>nsb</th>
	    <th>Date</th>
	    <th>Calibrator ID</th><th>Calibrator dt</th><th>Calibrator nchan</th><th>Calibrator nsb</th>
	    <th>Calibrator name</th><th>Calibrator date</th><th>Bad baselines</th>
	    <th>Priority</th>
	  </tr>
	</thead>
	<tbody>
	  {% for id,field,status,integration,dt,nchan,nsb,date,calibrator_id,location,calibrator_dt,calibrator_nchan,calibrator_nsb,calibrator_name,calibrator_date,bad_baselines,priority in data %}
      <tr>
	<td>{{ id }}</td>
	<td>{{ field }}</td>
	<td>{{ status }}</td>
	<td>{{ location }}</td>
	<td>{{ integration }}</td>
	<td>{{ dt }}</td>
	<td>{{ nchan }}</td>
	<td>{{ nsb }}</td>
	<td>{{ date }}</td>
	<td>{{ calibrator_id }}</td>
	<td>{{ calibrator_dt }}</td>
	<td>{{ calibrator_nchan }}</td>
	<td>{{ calibrator_nsb }}</td>
	<td>{{ calibrator_name }}</td>
	<td>{{ calibrator_date }}</td>
	<td>{{ bad_baselines }}</td>
	<td>{{ priority }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
