{% extends "layout.html" %}
{% set active_page = "referees" %}
{% block content %}
<div class="title">
	  <h2>For referees</h2>
</div>
</div>
<div id="page" class="container">
<div class="content">
<p>This site gives referees access to publications and data products from the
LOFAR surveys KSP.</p>

<p>These data and publications are shared with you in confidence and
  you must not distribute them or allow others to access them through
  the login credentials that you have been given.</p>

<h3>Papers</h3>
<p>Here you can download the papers describing the deep fields data release and science papers submitted as part of the A&amp;A special issue:</p>
<ul>
  <li><a href="referee_downloads/lotss_deep_paper1.pdf">Paper I: Direction-dependent calibration and imaging (Tasse et al)</a></li>
  <li><a href="referee_downloads/lotss_deep_paper2.pdf">Paper II: The ELAIS-N1 LOFAR deep field (Sabater et al)</a></li>
  <li><a href="referee_downloads/lotss_deep_paper3.pdf">Paper III: Host-Galaxy Identifications and Value-added Catalogues (Kondapally et al)</a></li>
  <li><a href="referee_downloads/lotss_deep_paper4.pdf">Paper IV: Photometric Redshifts and Stellar Masses (Duncan et al)</a></li>
  <li><a href="referee_downloads/IRLF_submitted_1July.pdf">The bright-end of the infrared luminosity functions and the
      abundance of hyperluminous infrared galaxies (Wang et al)</a></li>
  <li><a href="referee_downloads/hardcastle-skytemp.pdf">On the contribution of discrete sources to the sky temperature at 144 MHz (Hardcastle et al)</a></li>
  <li><a href="referee_downloads/LOFAR_properties_LAE_emitters_2_columns.pdf">LOFAR Properties of SILVERRUSH Ly &alpha; Emitter Candidates in the
ELAIS-N1 Field (Gloudemans et al)</a>
</ul>

<h3>Catalogues and images</h3>
<p>Follow the links below to pages giving downloadable catalogues and images and their documentation.</p>
<ul>
  <li><a href="referee_bootes.html">Bo&ouml;tes</a></li>
  <li><a href="referee_en1.html">ELAIS-N1</a></li>
  <li><a href="referee_lockman.html">Lockman</a></li>
</ul>

</div>
</div>
{% endblock %}
