{% extends "layout.html" %}
{% set active_page = "referees" %}
{% block content %}
<div class="title">
	  <h2>For referees</h2>
</div>
</div>
<div id="page" class="container">
<div class="content">
<p>This site gives referees access to publications and data products from the
LOFAR surveys KSP.</p>

<p>These data are shared with you in confidence and you must not
  distribute them or allow others to access them through the login
  credentials that you have been given.</p>

</div>
</div>
{% endblock %}
