{% extends "layout.html" %}
{% set active_page = "astronomers" %}
{% block content %}
<div class="title">
	  <h2>Data releases</h2>
		</div>
</div>
<div id="page" class="container">
  <div class="content">
    <p>If you make any scientific use of the publicly available data linked here, we kindly request that you include the following acknowledgement:
      <blockquote>
    LOFAR data products were provided by the LOFAR Surveys Key Science project
(LSKSP; <a href="https://lofar-surveys.org/">https://lofar-surveys.org/</a>) and were derived from observations with the International
LOFAR Telescope (ILT). LOFAR (van Haarlem et al. 2013) is the Low Frequency Array
designed and constructed by ASTRON. It has observing, data processing, and data storage
facilities in several countries, which are owned by various parties (each with their own funding
sources), and which are collectively operated by the ILT foundation under a joint scientific
policy. The efforts of the LSKSP have benefited from funding from the European Research
Council, NOVA, NWO, CNRS-INSU, the SURF Co-operative, the UK Science and Technology
    Funding Council and the J&uuml;lich Supercomputing Centre.</blockquote>
      For more details please see our <a href="credits.html">credits page</a>.
    </p>
    <h2>LoTSS preliminary</h2>
    <p>The preliminary LoTSS data release (PDR) is described by <a href="http://adsabs.harvard.edu/abs/2017A%26A...598A.104S">Shimwell et
    al. (2017)</a>. It consists of 350 square degrees in the region of
    the HETDEX Spring field imaged at a resolution of 25 arcsec and a
    typical noise level less than 0.5 mJy/beam. Over 35,000 sources
      are detected.</p>
    <ul>
      <li><a href="https://vo.astron.nl/lofartier1/lofartier1_fits.xml/imgs/form">PDR image archive</a></li>
      <li><a href="https://vo.astron.nl/lofartier1/lofartier1_fits.xml/cutout/form">PDR Image Cutout Service</a></li>
      <li><a href="https://vo.astron.nl/lofartier1/lofartier1.xml/cone/form">LoTSS
	  PDR Catalogue Query Service</a></li>
    </ul>
    <h2>LoTSS Data release 1</h2>
    <p>LoTSS data release 1 (DR1) is described by <a href="http://adsabs.harvard.edu/abs/2018arXiv181107926S">Shimwell et al.
    (2019)</a>. It consists of images at the full resolution (6 arcsec)
    and sensitivity (better than 0.1 mJy/beam) of Dutch LOFAR over 400 square degrees
    in the region of the HETDEX Spring field. Over 325,000 sources are
      detected. The
   data release includes optical counterparts for 71% of the radio sources
   (<a href="https://ui.adsabs.harvard.edu/#abs/2018arXiv181107927W/abstract">Williams
    et al. 2019</a>) and photometric redshifts for these sources (<a href="https://ui.adsabs.harvard.edu/#abs/2018arXiv181107928D/abstract">Duncan
   et al. 2019</a>).</p>
    <ul>
      <li>From the ASTRON VO:
	<ul>
	  <li><a href="https://vo.astron.nl/hetdex/lotss-dr1-img/imgs/form">DR1
	      image archive</a></li>
	  <li><a href="https://vo.astron.nl/hetdex/lotss-dr1-img/cutout/form">DR1 Image Cutout Service</a></li>
	  <li><a href="https://vo.astron.nl/hetdex/lotss-dr1-raw/cone/form">LoTSS
	  DR1 radio source catalogue Query Service</a></li>
	  <li><a href="https://vo.astron.nl/hetdex/lotss-dr1/cone/form">LoTSS
	      DR1 value-added source catalogue Query Service</a></li>
      </ul></li>
      <li>Direct download from this site:
	<ul>
	  <li><a href="public/LOFAR_HBA_T1_DR1_catalog_v1.0.srl.fits">Radio source catalogue</a> from Shimwell et al (2019)</li>
	  <li><a href="dr1_mosaics.html">Radio images</a> from  Shimwell et al (2019)</li>
	  <li>Catalogue of <a href="public/LOFAR_HBA_T1_DR1_merge_ID_optical_f_v1.2b_restframe.fits">HETDEX
    associations and optical IDs</a> and <a href="public/LOFAR_HBA_T1_DR1_merge_ID_v1.2.comp.fits">corresponding
	component catalogue</a> from Williams et al (2019).</li>
      <li><a href="public/CatalogDescription.pdf">Value-added
	  catalogue column description</a></li>
	<li><a href="public/Mingo19_LoMorph_Cat.fits">Catalogue of morphological classifications</a> and <a href="public/mingo19_readme.txt">readme file</a> from Mingo et al. (2019).</li>
</ul>
      </li>
      <li>Aladin:
	<ul>
      <li>An interactive Aladin view of the low-resolution and high-resolution DR1 data is available on the <a href="lotss-tier1.html">surveys status page</a></li>
      <li>Desktop Aladin apps can point to the <a href="https://lofar-surveys.org/public/HIPS/low_hips/">low-resolution</a> and <a href="https://lofar-surveys.org/public/HIPS/high_hips_new/">high-resolution</a> HIPS directories.
	</ul>
      </ul>
    <h2>LoTSS Deep Fields release 1</h2>
    <p>Please see the separate <a href="deepfields.html">page describing this release</a></p>
    <h2>Long-Baseline Calibrator Survey (LBCS)</h2>
    <p>Please see the separate <a href="lbcs.html">page describing this release</a></p>

    <h2>LoLSS preliminary data release</h2>
    <p>Please see the separate <a href="lba.html">page describing this release</a></p>
    <h2>LoTSS data release 2</h2>
    <p>Preparations for a second data release are under way. We aim to
    release images and radio catalogues for 5,700 square degrees of the northern sky before the end of 2021.</p>
    
  </div>
</div>
{% endblock %}
