{% extends "layout.html" %}
{% set active_page = "surveys" %}
{% block content %}
<img class="image-right" src="static/LOFAR_Superterp.jpg"
     align="right">
<div class="title">
	  <h2>LOFAR Surveys</h2>
		</div>
</div>
<div id="page" class="container">
  <div class="content">
<p>LOFAR's design makes it a uniquely good survey instrument. The
  individual dipoles are sensitive to most of the visible sky; the
  dipole arrays have a field of view of hundreds of square degrees at
  the lowest frequencies accessible to LOFAR.</p>

<p>LOFAR has carried out, or is in the process of carrying out, a
  number of sky surveys:</p>
<h3>MSSS</h3>
<p>The LOFAR Multifrequency Snapshot Sky Survey (MSSS) was the first
wide-area northern-sky survey to be carried out with LOFAR. Its first
data release is described
  by <a href="http://adsabs.harvard.edu/abs/2015A%26A...582A.123H">Heald
    et al. (2015)</a>. It surveyed the whole northern sky to a depth
  of around 10 mJy/beam with a resolution of 2 arcmin.</p>
<h3>LOTSS wide area</h3>
<p>The ongoing LOFAR HBA 120-168MHz wide-area survey is referred to as
    the LOFAR Two-metre Sky Survey (LoTSS) and is described
    by <a href="http://adsabs.harvard.edu/abs/2017A%26A...598A.104S">Shimwell
    et al. (2017)</a>. It aims to survey the whole northern sky at the
    full resolution of Dutch LOFAR (6 arcseconds) and a
    declination-dependent sensitivity which will typically be around
    100 &mu;Jy/beam. This is a factor 10 more sensitive than the
    current best high-resolution sky
    survey, <a href="http://sundog.stsci.edu/">FIRST</a>, and will
    detect over 10 million radio sources, mostly star-forming galaxies
    but with a large proportion of active galactic nuclei. A stretch
    goal is to image large areas with the resolution of the
    International LOFAR Telescope, around 0.5 arcsec, which will give
    a combination of resolution and sensitivity that will be
    unsurpassed well into
    the <a href="https://www.skatelescope.org/">SKA</a> era. Data from
    the parts of the wide-area survey that have currently been made
    public are available to download through the
    <a href="releases.html">data releases</a> page of this site.</p>
  
<h3>LoTSS deep fields</h3>
<p>LoTSS is also taking repeated observations of northern hemisphere fields with
the highest-quality multi-wavelength data over several-degree scales. These
observations, taken with the same frequency coverage as the all-sky survey,
will offer much higher sensitivity. The first three fields being studied are
Bo&ouml;tes, Elais-N1 and Lockman Hole, for each of which at least 100 hours of
data are already available; additional fields are planned. The ultimate aim is
to reach depths approaching 10 &mu;Jy/beam (~5 times deeper than the best
all-sky LoTSS pointings) over combined sky areas of many tens of square
degrees, enough to probe the full range of cosmic environments at high
redshift. Combined with the high-quality ancillary data, this will allow the
  study of star formation and AGN activity across cosmic time.</p>

<h3>LoL-ss</h3>
<p>
LOFAR is currently the only instrument capable of deep,
high-resolution imaging at frequencies below 100 MHz. Even into the
SKA era, this capability will remain unique to LOFAR. With the LOFAR
LBA Sky Survey (LoL-ss) we plan to cover the entire northern sky in
the frequency range 40-70 MHz. We aim to achieve a resolution of 15
arcsec at an average rms noise of 1 mJy/beam. LoL-ss will be a
revolutionary tool to discover new ultra-steep spectrum sources (from
high redshift radio galaxies, to dying radio emitting plasma, to
radio-emitting exoplanets). Currently we have observed around 350
square degrees centered in the RA range  10h45m00s to 15h30m00s and
DEC range 45d00m00s to 57d00m00s, and an initial data
release is planned for 2019.
</p>
<h3>WEAVE-LOFAR</h3>
<p>WEAVE-LOFAR is a spectroscopic survey of the LOTSS sky with the
  WEAVE fibre spectrograph on the William Herschel Telescope. It will
  provide redshifts for the wide and deep tiers of LOTSS. More
  information can be found on
  the <a href="https://ingconfluence.ing.iac.es:8444/confluence//display/WEAV/WEAVE-LOFAR">project webpages</a>.</p>

  </div>
</div>
{% endblock %}
